[Unit]
Description=Sep Client
After=network.target

[Service]
ExecStart=/usr/local/bin/sep-client --key pass --server 149.28.61.13:1081
Restart=on-failure
User=nobody

[Install]
WantedBy=multi-user.target
