[Unit]
Description=Sep Server
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/sep-server --key {key} --bound-addr {bound_addr} | tee /tmp/sep-server.json"
Restart=on-failure
User=nobody

[Install]
WantedBy=multi-user.target
